* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
.github/CODEOWNERS text eol=lf
*.md text eol=lf
*.json text eol=lf
*.mjs text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.xml text eol=lf
third_party/licenses/notices/OriginalSynthetic-MIT.txt text eol=lf
